.video-cmp {
  margin-top: 20px;

  &__col1 {
    &__iframe {
      width: 100%;
      height: 350px;
    }
  }

  &__col2 {
    &__desc {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      max-height: 150px;
      overflow: hidden;
    }
  }
}
